body {
  background: #f1f1f1;
}

h2 {
  /* text-align: center; */
  font-weight: bold;
  background-color: white;
  color: #0BADA6;
}

h4 {
  text-align: center;
  font-weight: bold;
  background-color: white;
  color: #0BADA6;
}

p {
  font-weight: normal;
  text-align: justify;
  font
}

.box {
  min-height: 50px;
  padding: 30px;
  margin: 30px;
  /* font-weight: 800; */
}

.white {
  background-color: white;
}

.navbar {
  /* height: 50%; */
  position: relative;
  z-index: 10000;
}

.navbar-brand {
  background-color: #0BADA6;
  color: white;
  font-weight: bold;
  margin-left: 2%;
  height: 150%;
  padding: 10px 10px;
}

#navbarSupportedContent {
  text-align: right;
  padding-left: 50%;
  /* margin-left: 280%; */
}

.dropdown-toggle a:hover {
  background-color: #f1f1f1;
}

.myimage{
  heigh: 140px;
  width: 140px;
}

.myimage:active {
  border: 2px solid red;
}
/* #box2{
  margin-left:60px;
  margin-right: 60px;

} */
.centered {
  text-align: center;
  /* align-items: center; */
}

.navbar-nav > li > a:active {
  background-color: grey !important;
}
