body {
  background: #f1f1f1;
  font-size: 120%;
}

h2 {
  /* text-align: center; */
  font-weight: bold;
  background-color: white;
  color: #0BADA6;
  /* font-size: 120%; */
}

h4 {
  text-align: center;
  font-weight: bold;
  background-color: white;
  color: #0BADA6;
  /* font-size: 120%; */
}

p {
  font-weight: normal;
  text-align: justify;
  /* font-size: 150%; */
}

a:hover {
    color: inherit;
}

.bg-light{
  color: white;
}

.box {
  min-height: 50px;
  padding: 30px;
  margin: 30px;
  /* font-weight: 800; */
}

.white {
  background-color: white;
}

.navbar {
  /* height: 50%; */
  position: relative;
  z-index: 10000;
}

.navbar-brand  {
  background-color: #0BADA6;
  color: white;
  font-weight: bold;
  margin-left: 2%;
  height: 150%;
  padding: 10px 10px;
  /* float: left !important; */
}

#navbarSupportedContent {
  text-align: right;
  color: blue;
  /* padding-left: 60%; */
}

.dropdown-toggle a:hover {
  background-color: #f1f1f1;
}

.myimage{
  heigh: 140px;
  width: 140px;
}

.myimage:active, .myimage:focus, .myimage:hover {
  border: 2px solid red;
}

.centered {
  text-align: center;
}

.navbar-nav>li>a:active {
  background-color: #e3e3e3b3 !important;
}

.navbar-nav>li>a:focus {
  background-color: #e3e3e3b3 !important;
}
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
